html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

/* Push the footer to the bottom */
main {
    flex: 1;
}

footer {
    margin-top: auto;
    /* This pushes the footer to the bottom of the screen */
}

.navbar {
    width: 100%;
    /* Reduced from 50px */
    background-color: #333;
    color: white;
    display: flex;
    padding: 0.5rem 0;
    /* Reduced padding */
}

.navbar-logo {
    height: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-logo img {
    height: 100%;
    width: auto;
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 0.25rem 1rem;
    /* Reduced padding */
}

.navbar .navbar-brand {
    color: #38b7ff;
}